@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-Bold.woff2") format("woff2"), url("../fonts/Benzin-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;}
@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-ExtraBold.woff2") format("woff2"), url("../fonts/Benzin-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;}
@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-Regular.woff2") format("woff2"), url("../fonts/Benzin-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-Medium.woff2") format("woff2"), url("../fonts/Benzin-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;}
@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-Black.woff2") format("woff2"), url("../fonts/Bounded-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;}
@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-Semibold.woff2") format("woff2"), url("../fonts/Benzin-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;}
@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-Regular.woff2") format("woff2"), url("../fonts/Bounded-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-ExtraLight.woff2") format("woff2"), url("../fonts/Bounded-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;}
@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-Variable.woff2") format("woff2"), url("../fonts/Bounded-Variable.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;}
