@import "fonts";
@import "vars.scss";
@import "global.scss";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";

.section {
  &-hidden {
    overflow: hidden;
  }
  &-pad {
    padding: 120px 0;
    @media (max-width: 767px) {
      padding: 64px 0;
    }
    &-top {
      padding-top: 120px;
      @media (max-width: 767px) {
        padding-top: 64px;
      }
    }
    &-bottom {
      padding-bottom: 120px;
      @media (max-width: 767px) {
        padding-bottom: 64px;
      }
    }
  }
  &-first {
    padding-top: 260px;
    @media (max-width: 767px) {
      padding-top: 180px;
    }
  }
  &-light {
    position: relative;
    color: var(--dark, $dark);
    background-color: var(--bg-light, $bg-light);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6%;
      width: 180px;
      height: 100%;
      background: url(../img/back-4.png) center / cover no-repeat;
      @media (max-width: 980px) {
        content: none;
      }
    }
  }
  &-dark {
    background-color: rgba($color: $dark, $alpha: 0.7);
  }
}

.title {
  &-lg {
    font-size: 46px;
    @media (max-width: 980px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  &-md {
    font-size: 40px;
    @media (max-width: 980px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  &-sm {
    font-size: 36px;
    @media (max-width: 980px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
}

.text {
  &-up {
    text-transform: uppercase;
  }
}

.bl {
  &-indent {
    margin-bottom: 46px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  @media (max-width: 980px) {
    margin-top: 64px;
  }
  @media (max-width: 767px) {
    margin-top: 46px;
  }
  a {
    transition: color 0.3s ease-out;
    &.active {
      color: rgba(255, 255, 255, 1);
    }
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .next, .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 100%;
    border: 1px solid var(--white, $white);
    svg {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.page {
  &-hero {
    position: relative;
    background: linear-gradient(291deg, #FB0717 0%, #B50611 16.31%, #480509 58.38%, #18191E 93.09%);
    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 36px;
      height: 100vh;
      min-height: 900px;
      padding-bottom: 50px;
      @media (max-width: 767px) {
        justify-content: flex-start;
        gap: 24px;
        min-height: unset;
        padding-top: 160px;
      }
    }
    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 85%;
      width: auto;
      object-fit: contain;
      object-position: 50% 100%;
      z-index: 1;
      pointer-events: none;
      @media (max-width: 767px) {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        width: 100%;
        max-width: unset;
      }
      &_red {
        mix-blend-mode: color-dodge;
      }
    }
    &__back {
      position: absolute;
      right: 0;
      bottom: -55px;
      width: 819px;
      height: 821px;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        &.back1 {
          width: 100%;
          height: 100%;
          border: 75px solid rgba(24, 25, 30, 0.35);
          @media (max-width: 767px) {
            border-width: 33px;
          }
        }
        &.back2 {
          width: 81.8%;
          height: 81.8%;
          border: 75px solid rgba(24, 25, 30, 0.50);
          @media (max-width: 767px) {
            width: 81%;
            height: 81%;
            border-width: 33px;
          }
        }
        &.back3 {
          width: 63.5%;
          height: 63.5%;
          border: 75px solid rgba(24, 25, 30, 0.75);
          @media (max-width: 767px) {
            width: 62%;
            height: 62%;
            border-width: 33px;
          }
        }
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 70%;
        transform: translate(-50%, -50%);
        @media (max-width: 767px) {
          width: 65%;
          height: 65%;
        }
      }
      @media (max-width: 767px) {
        right: unset;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 340px;
        height: 340px;
      }
    }
    &__title {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-family: Bounded;
      font-weight: 700;
      line-height: 1;
      z-index: 2;
      h1 {
        opacity: 0;
        transform: translateY(50px);
        animation: moveUp 1s ease-in-out forwards;
      }
      span {
        display: block;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FB0717;
        color: transparent;
        opacity: 0;
        transform: translateY(50px);
        animation: moveUp 1s ease-in-out forwards;
        &:nth-of-type(5) {
          animation-delay: 0.1s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.2s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.3s;
        }
        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(1) {
          animation-delay: 0.5s;
        }
      }    
      @media (max-width: 767px) {
        gap: 18px;
      }
    }
    &__desc {
      position: relative;
      max-width: 887px;
      z-index: 2;
      font-size: 16px;
      animation: moveUp 1s ease-in-out forwards;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 200px;
      left: 5%;
      width: 25%;
      height: 40%;
      background: url(../img/back-7.png) center / contain no-repeat;
      @media (max-width: 767px) {
        top: 150px;
        left: unset;
        right: -24px;
        width: 244px;
        height: 198px;
        background: url(../img/back-7-2.png) center / contain no-repeat;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 150px;
      width: 100%;
      background: linear-gradient(180deg, rgba(222, 6, 20, 0.00) 0%, rgba(120, 3, 11, 0.50) 100%);
      z-index: 1;
    }
  }
  &-error {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 160px;
      left: 50%;
      transform: translateX(-50%);
      width: 90vw;
      height: 100%;
      background: url(../img/back-9.png) top / cover no-repeat;
      @media (max-width: 767px) {
        right: 0;
        width: 100vw;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 50vh;
      @media (max-width: 767px) {
        justify-content: center;
        min-height: 65vh;
      }
    }
    &__title {
      margin-bottom: 36px;
      color: var(--main, $main);
      font-family: Bounded;
      font-size: 240px;
      font-weight: 700;
      line-height: 1;
      @media (max-width: 980px) {
        font-size: 180px;
      }
      @media (max-width: 767px) {
        margin-bottom: 24px;
        font-size: 120px;
      }
    }
    &__txt {
      font-size: 24px;
      @media (max-width: 980px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}

// section

.hero {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    right: -20px;
    width: 94.7vw;
    height: calc(100% - 10px);
    background: url(../img/back-1.png) top / cover no-repeat;
    @media (max-width: 767px) {
      right: 0;
      width: 100vw;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 8%;
    width: 48.8vw;
    min-width: 510px;
    max-width: 703px;
    height: 48.8vw;
    min-height: 510px;
    max-height: 703px;
    background: url(../img/back-2.png) center / contain no-repeat;
    @media (max-width: 767px) {
      top: unset;
      bottom: 0;
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      min-width: unset;
      height: 50%;
      min-height: unset;
    }
  }
  &__slider {
    position: relative;
    padding-left: 180px;
    @media (max-width: 980px) {
      padding-left: 90px;
    }
    @media (max-width: 767px) {
      padding-left: 0;
    }
  }
  &__slide {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    min-height: 900px;
    z-index: 1;
    @media (max-width: 767px) {
      min-height: unset;
      padding-top: 200px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 46px;
    @media (max-width: 980px) {
      gap: 32px;
    }
    @media (max-width: 767px) {
      gap: 24px;
      height: 100%;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &__title {
    max-width: 860px;
    min-height: 160px;
    line-height: 1.3em;
    // overflow: hidden;
    span {
      display: block;
      opacity: 0;
    }
    @media (max-width: 767px) {
      min-height: unset;
      font-size: 22px;
      text-align: center;
    }
  }
  &__button {
    opacity: 0;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 100px;
    @media (max-width: 980px) {
      padding-bottom: 64px;
    }
    @media (max-width: 767px) {
      flex-grow: 1;
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 32px;
    }
  }
  &__desc {
    max-width: 444px;
    // overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    p {
      opacity: 0;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &-card {
    display: flex;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(6px);
    opacity: 0;
    &__img {
      height: 140px;
      min-width: 90px;
      img {
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 540px) {
        height: 108px;
      }
    }
    &__desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      max-width: 220px;
      @media (max-width: 540px) {
        justify-content: flex-start;
      }
    }
    &__txt {
      font-size: 14px;
      @media (max-width: 540px) {
        font-size: 12px;
      }
    }
    &__link {
      svg {
        transition: transform 0.3s ease-out;
      }
      @media (max-width: 540px) {
        display: none;
      }
    }
    &:hover {
      .hero-card__link {
        svg {
          transform: translateX(8px);
        }
      }
    }
    @media (max-width: 540px) {
      align-items: flex-start;
      gap: 12px;
      width: 100%;
      padding: 12px;
    }
  }
  &__box {
    position: absolute;
    bottom: 150px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &-scroll {
    display: flex;
    gap: 6px;
    color: var(--main, $main);
    font-size: 12px;
    font-family: Bounded;
    font-weight: 500;
    text-transform: uppercase;
    writing-mode: sideways-lr;
    animation: bounce 1s infinite;
  }
  .swiper-slide {
    opacity: 0 !important;
    transition: 0.4s;
    .hero__img {
      transform: scale(0.8) translateY(100px);
      opacity: 0;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      transition-duration: 0.8s;
    }
  }
  .swiper-slide-active {
    opacity: 1 !important;
    .hero__title {
      span {
        animation: moveUp 0.4s linear forwards;
      }
    }
    .hero__button {
      animation: moveUp 0.5s linear forwards;
    }
    .hero__desc {
      p {
        animation: moveUp 0.6s linear forwards;
      }
    }
    .hero__img {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    .hero__card {
      animation: moveLeft 1s ease-in-out forwards;
      @media (max-width: 767px) {
        animation: moveUp 1s ease-in-out forwards;
      }
    }
  }
  &-pagination {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: max-content !important;
  }
  .swiper-pagination-bullet {
    position: relative;
    width: auto;
    height: auto;
    padding-left: 30px;
    color: var(--white, $white);
    background-color: transparent;
    font-family: Bounded;
    font-weight: 600;
    opacity: 1;
    transition: color 0.3s ease-out, transform 0.3s ease-out;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 3px;
      background-color: var(--white, $white);
    }
  }
  .swiper-pagination-bullet-active {
    color: var(--main, $main);
    transform: scale(1.2) translateX(4px);
    &::before {
      background-color: var(--main, $main);
    }
  }
}

.about {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    img {
      height: 204px;
      object-fit: contain;
      @media (max-width: 767px) {
        height: 176px;
      }
    }
  }
  &__col {
    &_left {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &_right {
      width: 58%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 14px;
    font-size: 16px;
    @media (max-width: 767px) {
      margin-bottom: 8px;
      font-size: 14px;
    }
  }
  &__caption {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 1.3em;
    @media (max-width: 767px) {
      font-size: 14px;
    }
    span {
      display: inline-block;
      width: 15%;
      @media (max-width: 767px) {
        width: 10%;
      }
    }
  }
  &__txt {
    max-width: 82%;
    margin-bottom: 24px;
    font-size: 16px;
    @media (max-width: 767px) {
      max-width: unset;
    }
  }
  &__wrap {
    position: relative;
    padding: 32px 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(12, 12, 12, 0.70);
    }
  }
  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 0 32px;
    z-index: 1;
    @media (max-width: 1400px) {
      padding: 0;
    }
    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &-card {
    padding: 32px;
    color: var(--dark, $dark);
    background-color: var(--bg-light, $bg-light);
    @media (max-width: 767px) {
      padding: 16px;
    }
    &__num {
      margin-bottom: 24px;
      font-family: Bounded;
      font-weight: 600;
      font-size: 46px;
      line-height: 1;
      @media (max-width: 980px) {
        margin-bottom: 16px;
        font-size: 32px;
      }
      @media (max-width: 767px) {
        margin-bottom: 14px;
        font-size: 24px;
      }
    }
    &__caption {
      margin-bottom: 32px;
      font-weight: 500;
      @media (max-width: 980px) {
        margin-bottom: 24px;
      }
      @media (max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    &__txt {
      font-size: 14px;
    }
  }
  &-hero {
    &::before {
      content: none;
    }
    &__img {
      height: 82.3%;
      opacity: 0;
      animation: imgAnim1 1s ease-in-out forwards;
      &_red {
        transform: translate(-100px, -40px) scale(1.1);
        animation: imgAnimLeft 1s ease-in-out forwards;
        animation-delay: 0.3s;
        @media (max-width: 767px) {
          transform: translate(calc(-50% - 50px), -10px);
        }
      }
    }
  }
  &-page {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 46px;
      @media (max-width: 980px) {
        gap: 24px;
      }
    }
    &__row {
      display: grid;
      grid-template-columns: 33% 1fr;
      gap: 46px;
      @media (max-width: 980px) {
        grid-template-columns: 1fr;
        gap: 24px;
      }
    }
    &__title {
      max-width: 300px;
      line-height: 1.3em;
    }
    &__caption {
      margin-bottom: 0;
      span {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    &__cards {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &__num {
      margin-bottom: 12px;
      font-size: 52px;
      font-weight: 600;
      line-height: 1;
      @media (max-width: 980px) {
        font-size: 42px;
      }
    }
    &__box {
      display: grid;
      gap: 18px;
      &_1 {
        grid-template-columns: auto 1fr;
        img {
          height: 208px;
          width: 100%;
          object-fit: contain;
          @media (max-width: 767px) {
            width: 186px;
            height: 154px;
          }
        }
        @media (max-width: 980px) {
          order: 1;
          grid-template-columns: auto auto;
          justify-content: space-between;
        }
      }
      &_2 {
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }
      }
    }
    &__img {
      height: 316px;
      @media (max-width: 767px) {
        height: 263px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 10%;
      }
    }
    &__txt {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 16px;
    }
  }
  &-lead {
    &::after {
      right: 26%;
      @media (max-width: 1440px) {
        right: 22%;
      }
    }
    &__container {
      position: relative;
      z-index: 1;
      @media (max-width: 767px) {
        padding-bottom: 70px;
      }
    }
    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }
    &__arrows {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 767px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      padding: 8px;
      border-radius: 100%;
      border: 1px solid #000;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    &__slide {
      display: flex;
      align-items: center;
      gap: 18px;
      width: calc(100% - 33% - 18px);
      @media (max-width: 1100px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        align-items: flex-start;
        gap: 8px;
      }
      &.swiper-slide-active {
        .about-lead__desc {
          opacity: 1;
        }
      }
    }
    &__person {
      width: 50%;
      max-width: 435px;
      height: auto;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 767px) {
        min-width: 50%;
      }
      @media (max-width: 540px) {
        min-width: 100px;
        width: 100px;
        height: 100px;
      }
    }
    &__desc {
      max-height: 435px;
      width: calc(50% - 9px);
      opacity: 0;
      transition: opacity 0.3s ease-out;
      @media (max-width: 767px) {
        width: auto;
      }
    }
    &__name {
      margin-bottom: 24px;
      @media (max-width: 767px) {
        margin-bottom: 14px;
        font-size: 14px;
      }
    }
    &__txt {
      font-size: 16px;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &-target {
    &__container {
      gap: 18px;
    }
    &__title {
      line-height: 1.3em;
    }
    &__col {
      &_left {
        width: 33%;
        img {
          width: 251px;
          height: 208px;
          object-fit: contain;
          @media (max-width: 980px) {
            width: 50%;
            height: auto;
          }
        }
        @media (max-width: 980px) {
          width: 100%;
        }
      }
      &_right {
        width: calc(100% - 33% - 18px);
        @media (max-width: 980px) {
          width: 100%;
        }
      }
    }
    &__caption {
      margin-bottom: 32px;
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
      span {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 14px;
      }
    }
    &-card {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px;
      color: var(--white, $white);
      background: rgba(251, 7, 23, 0.45);
      &__caption {
        font-weight: 500;
      }
      &__txt {
        font-size: 14px;
      }
    }
  }
}

.parthers {
  .swiper {
    padding-bottom: 46px;
    @media (max-width: 767px) {
      padding-bottom: 32px;
    }
  }
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 14px;
    background-color: var(--white, $white);
    img {
      object-fit: contain;
    }
    &:nth-child(odd) {
      background-color: var(--main, $main);
    }
  }
  &-pagination {
    bottom: 0;
    top: unset !important;
    background-color: rgba(255, 255, 255, 0.20);
  }
  .swiper-pagination-progressbar-fill {
    background-color: var(--white, $white);
  }
}

.champ {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 46px;
    z-index: 1;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 36px;
      padding-top: 312px;
    }
  }
  &__box {
    width: calc(67% - 18px);
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    gap: 14px;
    span {
      font-family: Inter;
      font-weight: 500;
      font-size: 16px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 46px;
    padding: 24px 0;
    border-bottom: 1px solid rgba(12, 12, 12, 0.5);
    font-size: 16px;
    font-weight: 600;
    &:first-of-type {
      border-top: 1px solid rgba(12, 12, 12, 0.5);
      img {
        opacity: 1;
      }
    }
    img {
      position: absolute;
      top: 60px;
      right: 0;
      width: 33%;
      max-height: 421px;
      height: 29.2vw;
      min-height: 286px;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      @media (max-width: 767px) {
        top: 0;
        width: 100%;
        object-position: 50% 10%;
      }
    }
    &:hover {
      img {
        opacity: 1;
        z-index: 1;
      }
    }
    @media (max-width: 980px) {
      flex-wrap: wrap;
      gap: 24px;
    }
    @media (max-width: 767px) {
      justify-content: space-between;
      gap: 16px;
      padding: 16px 0;
    }
  }
  &__date {
    color: rgba(12, 12, 12, 0.5);
  }
  &__caption {
    font-weight: 500;
    @media (max-width: 980px) {
      order: 1;
      width: 100%;
    }
  }
  &__city {
    margin-left: auto;
    @media (max-width: 980px) {
      color: rgba(12, 12, 12, 0.5);
    }
  }
  &-hero {
    &::before {
      left: unset;
      right: 5%;
      bottom: 0;
      top: unset;
      background: url(../img/back-7-3.png) center / contain no-repeat;
      @media (max-width: 1440px) {
        right: 2%;
      }
    }
    &__back {
      right: unset;
      left: 0;
      bottom: 0;
      width: 726px;
      height: 726px;
      span {
        &.back2 {
          width: 80%;
          height: 80%;
        }
        &.back3 {
          width: 60%;
          height: 60%;
        }
      }
      img {
        width: 62%;
        height: 62%;
      }
      @media (max-width: 767px) {
        bottom: 12%;
      }
    }
    &__img {
      right: unset;
      left: 0;
      height: 73.5%;
      opacity: 0;
      animation: imgAnim1 1s ease-in-out forwards;
      &_red {
        transform: translate(60px, -30px) scale(1.1);
        animation: imgAnimRight 1s ease-in-out forwards;
        animation-delay: 0.3s;
        @media (max-width: 767px) {
          transform: translate(calc(-50% - 10px), -20px) scale(1.1);
        }
      }
      @media (max-width: 767px) {
        left: 100%;
        width: 200%;
      }
    }
    &__desc {
      position: absolute;
      top: 20%;
      right: 0;
      max-width: 450px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &-plan {
    &__title {
      max-width: 435px;
      line-height: 1.3em;
    }
  }
  &-past {
    &__title {
      max-width: 435px;
      line-height: 1.3em;
    }
    &__button {
      cursor: pointer;
      &.btn-hide {
        display: none;
      }
    }
  }
  &__table {
    overflow-y: hidden;
    overflow-x: auto;
    table {
      width: 100%;
    }
    th, td {
      min-width: 202px;
      padding: 36px;
      text-align: start;
      &:nth-child(2) {
        width: 400px;
        min-width: 340px;
      }
      @media (max-width: 980px) {
        padding: 24px;
      }
      @media (max-width: 767px) {
        padding: 16px;
        font-size: 14px;
      }
    }
    th {
      color: var(--white, $white);
      background-color: var(--main, $main);
      text-transform: uppercase;
      font-family: Bounded;
      font-weight: 600;
    }
    td {
      color: var(--dark, $dark);
      background-color: var(--bg-light, $bg-light);
    }
    a {
      white-space: nowrap;
      text-decoration: underline;
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--main, $main);
      }
    }
    tr {
      &.hidden {
        display: none;
      }
    }
  }
}

.history {
  &-hero {
    &::before {
      left: unset;
      right: 5%;
      bottom: 0;
      top: unset;
      background: url(../img/back-7-3.png) center / contain no-repeat;
      @media (max-width: 1440px) {
        right: 2%;
      }
      @media (max-width: 767px) {
        top: 50%;
        transform: translateY(-50%);
        width: 176px;
        height: 146px;
      }
    }
    &__back {
      right: unset;
      left: 0;
      bottom: 0;
      width: 726px;
      height: 726px;
      span {
        &.back2 {
          width: 80%;
          height: 80%;
        }
        &.back3 {
          width: 60%;
          height: 60%;
        }
      }
      img {
        width: 62%;
        height: 62%;
      }
      @media (max-width: 767px) {
        bottom: 8px;
      }
    }
    &__img {
      right: unset;
      left: 60px;
      height: 90%;
      opacity: 0;
      animation: imgAnim1 1s ease-in-out forwards;
      &_red {
        transform: translate(60px, -30px) scale(1.1);
        animation: imgAnimRight 1s ease-in-out forwards;
        animation-delay: 0.3s;
        @media (max-width: 767px) {
          transform: translate(calc(-50% + 20px), -10px) scale(1.05);
        }
      }
      @media (max-width: 767px) {
        height: 55%;
      }
    }
    &__desc {
      position: absolute;
      top: 20%;
      right: 0;
      max-width: 450px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &-page {
    &__title {
      width: max-content;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 24px;
      border: 1px solid #FFF;
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    &__slider {
      position: relative;
      &_1 {
        padding-top: 66px;
        border-top: 1px solid #D9D9D9;
        .swiper-slide {
          width: 100px;
          height: 100px;
          border: 1px solid transparent;
          transition: border-color 0.3s ease-out;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .swiper-slide-thumb-active {
          border-color: var(--main, $main);
        }
      }
      &_2 {
        padding-bottom: 24px;
        @media (max-width: 767px) {
          padding: 16px;
          padding-top: 0;
        }
      }
    }
    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      &.swiper-slide-active {
        .marquee-content {
          animation: marquee 10s linear infinite;
        }
      }
    }
    &__desc {
      display: flex;
      flex-direction: column;
      gap: 14px;
      max-width: 434px;
      width: 100%;
      text-align: center;
      @media (max-width: 767px) {
        gap: 12px;
        font-size: 16px;
      }
    }
    &__person {
      height: 469px;
      max-width: 434px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 14px;
      max-width: 434px;
      width: 100%;
      span {
        font-size: 14px;
        line-height: 1;
      }
      @media (max-width: 767px) {
        gap: 8px;
      }
    }
    &__caption {
      font-size: 28px;
      @media (max-width: 980px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 18px;
        max-width: 90%;
      }
    }
    &__marquee {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      overflow: hidden;
      z-index: -1;
      white-space: nowrap;
    
      .marquee-content {
        display: flex;
        gap: 40px;
        transform: translateX(0);
        will-change: transform;
      }
    
      span {
        display: inline-block;
        font-family: Bounded;
        font-size: 150px;
        font-weight: 500;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &-pagination {
    position: absolute;
    right: 0;
    top: 24px;
    left: unset;
    width: max-content;
    font-size: 16px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.70);
    @media (max-width: 767px) {
      left: 0;
      right: unset;
    }
  }
  &__arrows {
    position: absolute;
    bottom: 120px;
    right: 36%;
    display: flex;
    align-items: center;
    gap: 24px;
    width: max-content;
    z-index: 1;
    @media (max-width: 1440px) {
      right: 31%;
    }
    @media (max-width: 980px) {
      right: 20%;
    }
    @media (max-width: 767px) {
      right: 32px;
      bottom: 100px;
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    padding: 11px;
    border-radius: 100%;
    border: 1px solid var(--white, $white);
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.gallery {
  &__title {
    text-align: center;
  }
  &__slider {
    @media (max-width: 767px) {
      margin: 0 -16px;
    }
  }
  &__slide {
    position: relative;
    width: 28vw;
    max-width: 434px;
    min-width: 254px;
    height: 35vw;
    max-height: 499px;
    min-height: 323px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      cursor: zoom-in;
    }
  }
  &__navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 46px;
  }
  &__pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    width: auto !important;
  }
  .swiper-pagination-bullet {
    width: auto;
    height: auto;
    margin: 0;
    color: rgba(12, 12, 12, 0.50);
    background: transparent;
    font-size: 16px;
    opacity: 1;
    &-active {
      color: rgba(12, 12, 12, 1);
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 100%;
    border: 1px solid var(--dark, $dark);
    svg {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-photo {
    &::after {
      right: 15%;
    }
  }
  &-video {
    .gallery__slide {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 100%);
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 62px;
        height: 62px;
        background: url(../img/play.svg) center / contain no-repeat;
        @media (max-width: 767px) {
          width: 52px;
          height: 52px;
        }
      }
    }
    .gallery__arrow {
      border-color: var(--white, $white);
    }
    .swiper-pagination-bullet {
      color: rgba(255, 255, 255, 0.50);
      &-active {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.broadcast {
  &__title {
    text-align: center;
  }
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    @media (max-width: 767px) {
      justify-content: flex-start;
      gap: 8px;
    }
  }
  .tab {
    padding: 14px 26px;
    color: rgba(12, 12, 12, 0.70);
    background: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    transition: color 0.3s ease-out, background 0.3s ease-out;
    &.active {
      color: var(--white, $white);
      background: var(--main, $main);
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
      color: var(--main, $main);
      @media (max-width: 767px) {
        color: var(--white, $white);
      }
    }
    @media (max-width: 767px) {
      padding: 14px 20px;
      white-space: nowrap;
    }
    &__contents {
      position: relative;
      height: 480px;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      height: 100%;
      opacity: 0;
      transform: translateY(50px);
      z-index: -1;
      transition: opacity 0.3s ease, transform 0.3s ease;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 100%);
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 62px;
        height: 62px;
        background: url(../img/play.svg) center / contain no-repeat;
        transition: transform 0.3s ease-out;
        @media (max-width: 767px) {
          width: 52px;
          height: 52px;
        }
      }
      &:hover {
        cursor: pointer;
        &::after {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
      &.active {
        z-index: 1;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.agency {
  &__title {
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    @media (max-width: 767px) {
      justify-content: flex-start;
    }
  }
  &__card {
    max-width: 200px;
    @media (max-width: 767px) {
      max-width: calc(50% - 8px);
    }
  }
  &__img {
    height: 265px;
    margin-bottom: 14px;
    border-bottom: 1px solid var(--white, $white);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__caption {
    margin-bottom: 14px;
  }
  &__address {
    font-size: 14px;
  }
  &-page {
    &__title {
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 46px;
      row-gap: 36px;
      @media (max-width: 980px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__flag {
      height: 66px;
      margin-bottom: 18px;
      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
    &__bottom {
      padding-right: 46px;
      border-right: 1px solid rgba(255, 255, 255, 0.50);
    }
    &__caption {
      margin-bottom: 14px;
    }
    &__address {
      font-size: 14px;
    }
  }
}

.teams {
  &-hero {
    &::before {
      content: none;
    }
    &__img {
      height: 75.2%;
      opacity: 0;
      animation: imgAnim1 1s ease-in-out forwards;
      &_red {
        transform: translate(-30px, -30px) scale(1.1);
        animation: imgAnimLeft 1s ease-in-out forwards;
        animation-delay: 0.3s;
        @media (max-width: 767px) {
          transform: translate(calc(-50% - 10px), -20px) scale(1.1);
        }
      }
    }
  }
  &-page {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      @media (max-width: 980px) {
        gap: 24px;
      }
    }
    &__filter {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .tabs {
      display: flex;
      align-items: center;
      gap: 34px;
      overflow-y: hidden;
      overflow-x: auto;
      @media (max-width: 767px) {
        gap: 16px;
      }
    }
    .tab {
      display: block;
      color: rgba(255, 255, 255, 0.70);
      font-family: Bounded;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      transition: color 0.3s ease-out;
      @media (max-width: 767px) {
        gap: 16px;
        font-size: 12px;
      }
      &.active {
        pointer-events: none;
        color: rgba(255, 255, 255, 1);
      }
      &:hover {
        cursor: pointer;
        color: var(--main, $main);
        @media (max-width: 767px) {
          color: var(--white, $white);
        }
      }
      &__content {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    &__weight {
      display: flex;
      align-items: center;
      gap: 24px;
      overflow-y: hidden;
      overflow-x: auto;
      @media (max-width: 767px) {
        gap: 12px;
      }
      a {
        display: block;
        padding: 14px 26px;
        color: rgba(12, 12, 12, 0.70);
        background: rgba(255, 255, 255, 0.70);
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        transition: color 0.3s ease-out, background 0.3s ease-out;
        &.active {
          color: var(--white, $white);
          background: var(--main, $main);
          pointer-events: none;
        }
        &:hover {
          cursor: pointer;
          color: var(--main, $main);
          @media (max-width: 767px) {
            color: var(--white, $white);
          }
        }
        @media (max-width: 767px) {
          padding: 14px 20px;
          white-space: nowrap;
        }
      }
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc(25% - 30px);
    padding-bottom: 24px;
    border-bottom: 2px solid var(--main, $main);
    &__img {
      height: 15.7vw;
      min-height: 260px;
      max-height: 380px;
      border-bottom: 2px solid var(--main, $main);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      color: rgba(255, 255, 255, 0.50);
      font-size: 14px;
      text-transform: uppercase;
      span {
        color: rgba(255, 255, 255, 1);
      }
    }
    &-hide {
      display: none;
    }
    @media (max-width: 980px) {
      width: calc(50% - 12px);
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.member-hero {
  &::before {
    bottom: unset;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 1400px;
    border-radius: 100%;
    background: linear-gradient(180deg, #18191E 0%, rgba(24, 25, 30, 0.35) 87.5%);
    @media (max-width: 767px) {
      top: 0;
      right: unset;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1040px;
      width: 1100px;
      background: linear-gradient(180deg, #18191E 0%, rgba(24, 25, 30, 0.35) 87.5%);
    }
  }
  &__container {
    @media (max-width: 767px) {
      justify-content: flex-end;
    }
  }
  &__title {
    animation-delay: 0.8s;
    @media (max-width: 767px) {
      h1 {
        line-height: 1.3em;
      }
    }
  }
  &__back {
    left: 50%;
    right: unset;
    bottom: unset;
    top: 126px;
    transform: translateX(-50%);
    width: 521px;
    height: 522px;
    z-index: 1;
    span {
      &.back1, &.back2, &.back3 {
        border-width: 48px;
      }
    }
    
  }
  &__img {
    right: unset;
    bottom: unset;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
    height: 390px;
    width: auto;
    @media (max-width: 767px) {
      top: 28%;
    }
  }
  &__symbol {
    position: absolute;
    top: 150px;
    width: 365px;
    height: 302px;
    @media (max-width: 767px) {
      width: 186px;
      height: 154px;
    }
    &_1 {
      left: 0;
      @media (max-width: 767px) {
        bottom: 300px;
        top: unset;
      }
    }
    &_2 {
      right: 0;
      @media (max-width: 767px) {
        top: 100px;
      }
    }
  }
  &__links {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 22px;
    z-index: 2;
    opacity: 0;
    transform: translateY(50px);
    animation: moveUp 1s ease-in-out forwards;
    @media (max-width: 767px) {
      gap: 8px;
    }
    a {
      display: block;
      padding: 20px 52px;
      color: rgba(12, 12, 12, 0.70);
      background-color: rgba(255, 255, 255, 0.70);
      font-family: Bounded;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      text-align: center;
      transition: color 0.3s ease-out;
      &.active {
        color: var(--white, $white);
        background-color: var(--main, $main);
        pointer-events: none;
      }
      &:hover {
        color: var(--main, $main);
      }
      @media (max-width: 767px) {
        flex-grow: 1;
        padding: 20px;
      }
    }
  }
}

.news {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    row-gap: 46px;
    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    transition: transform 0.3s ease-out;
    &__img {
      height: 212px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      margin-top: auto;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--main, $main);
    }
    &__link {
      transition: color 0.3s ease-out;
    }
    &:hover {
      transform: translateY(-12px);
      .news-card__link {
        color: var(--main, $main);
      }
    }
  }
  &-hero {
    &__back {
      @media (max-width: 767px) {
        bottom: 120px;
      }
    }
    &__img {
      opacity: 0;
      animation: imgAnim1 1s ease-in-out forwards;
      @media (max-width: 767px) {
        left: 60%;
        width: 150%;
      }
      &_red {
        transform: translate(30px, -10px);
        animation: imgAnimRight 1s ease-in-out forwards;
        animation-delay: 0.3s;
        @media (max-width: 767px) {
          transform: translate(calc(-50% + 20px), -10px);
        }
      }
    }
  }
  &-page {
    .news-card {
      &:first-of-type {
        grid-column: span 2;
        @media (max-width: 980px) {
          grid-column: unset;
        }
      }
      &:nth-child(1), &:nth-child(2) {
        .news-card__img {
          height: 368px;
          @media (max-width: 980px) {
            height: 212px;
          }
        }
      }
    }
  }
  &-inner {
    &__top {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
      @media (max-width: 767px) {
        gap: 20px;
        margin-bottom: 20px;
      }
    }
    &__date {
      font-size: 16px;
      font-weight: 300;
    }
    &__img {
      max-height: 620px;
      height: 43vw;
      min-height: 504px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__desc {
      columns: 2;
      @media (max-width: 767px) {
        columns: unset;
      }
      p {
        margin-bottom: 24px;
        @media (max-width: 767px) {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.branches {
  &-hero {
    position: relative;
    background: linear-gradient(291deg, #FB0717 0%, #B50611 16.31%, #480509 58.38%, #18191E 93.09%);
    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 36px;
      height: 100vh;
      min-height: 900px;
      padding-bottom: 50px;
      @media (max-width: 767px) {
        gap: 24px;
        min-height: unset;
        padding-top: 160px;
      }
    }
    &__img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 90%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 0%;
      z-index: 1;
      pointer-events: none;
      @media (max-width: 767px) {
        height: 85%;
      }
    }
    &__title {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-family: Bounded;
      font-weight: 700;
      line-height: 1;
      z-index: 2;
      h1 {
        opacity: 0;
        transform: translateY(50px);
        animation: moveUp 1s ease-in-out forwards;
      }
      span {
        display: block;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFF;
        color: transparent;
        opacity: 0;
        transform: translateY(50px);
        animation: moveUp 1s ease-in-out forwards;
        &:nth-of-type(3) {
          animation-delay: 0.1s;
        }
        &:nth-of-type(2) {
          animation-delay: 0.2s;
        }
        &:nth-of-type(1) {
          animation-delay: 0.3s;
        }
      }    
      @media (max-width: 767px) {
        gap: 18px;
      }
    }
  }
  &-page {
    &__map {
      height: 600px;
      iframe {
        height: 100%;
        width: 100%;
        border: 0;
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 18px;
      @media (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
    &__card {
      position: relative;
      padding: 36px;
      color: var(--dark, $dark);
      background-color: var(--bg-light, $bg-light);
      &:first-child {
        color: var(--white, $white);
        background: linear-gradient(180deg, #FB0717 0%, #78070F 100%);
        .branches-page__country {
          color: var(--white, $white);
        }
        .branches-page__list {
          &::-webkit-scrollbar {
            background-color: var(--white, $white);
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--dark, $dark);
          }
        }
        &::after {
          background: linear-gradient(180deg, rgba(222, 6, 20, 0.00) 0%, rgba(120, 3, 11, 0.50) 100%);
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 140px;
        width: 100%;
        background: linear-gradient(180deg, rgba(222, 6, 20, 0.00) 0%, rgba(255, 249, 230, 0.50) 100%);
        z-index: 1;
      }
      @media (max-width: 767px) {
        padding: 24px;
      }
    }
    &__country {
      margin-bottom: 40px;
      color: var(--main, $main);
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-height: 416px;
      padding-right: 40px;
      counter-reset: counter1 0;
      overflow-x: hidden;
      overflow-y: auto;
      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 18px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--dark, $dark);
        counter-increment: counter1 1;
        line-height: 1;
        &::before {
          content: counter(counter1);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          color: var(--white, $white);
          background-color: var(--dark, $dark);
          font-size: 14px;
          font-weight: 700;
        }
      }
      &::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
        background-color: var(--dark, $dark);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: var(--main, $main);
      }
    }
  }
}

.contacts {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 18px;
    margin-bottom: 80px;
    @media (max-width: 980px) {
      margin-bottom: 64px;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 46px;
      margin-bottom: 46px;
    }
  }
  &__table {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 1;
    @media (max-width: 767px) {
      gap: 18px;
    }
  }
  &__head {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 500;
    @media (max-width: 767px) {
      font-size: 14px;
    }
    .contacts__row {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 18px;
    @media (max-width: 767px) {
      gap: 14px;
      font-size: 14px;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: 3fr 2.5fr 2.5fr;
    gap: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--white, $white);
    @media (max-width: 767px) {
      grid-template-columns: 0.5fr 1fr 1fr;
      padding-bottom: 14px;
    }
    a {
      transition: color 0.3s ease-out;
      &:hover {
        cursor: pointer;
        color: var(--main, $main);
      }
    }
  }
  &__map {
    height: 600px;
    iframe {
      height: 100%;
      width: 100%;
      border: 0;
    }
  }
}

// keyframes

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes imgAnim1 {
  0% {
    transform: scale(0.8) translateY(100px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes imgAnimLeft {
  0% {
    transform: scale(1) translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translate(-100px, -40px) scale(1.1);
    opacity: 1;
  }
}

@keyframes imgAnimRight {
  0% {
    transform: scale(1) translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translate(60px, -30px) scale(1.1);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  @keyframes imgAnim1 {
    0% {
      transform: scale(0.8) translateY(100px) translateX(-50%);
      opacity: 0;
    }
  
    100% {
      transform: scale(1) translateY(0) translateX(-50%);
      opacity: 1;
    }
  }

  @keyframes imgAnimLeft {
    0% {
      transform: scale(1) translateY(50px) translateX(-50%);
      opacity: 0;
    }
  
    100% {
      transform: translate(calc(-50% - 50px), -10px);
      opacity: 1;
    }
  }

  @keyframes imgAnimRight {
    0% {
      transform: scale(1) translateY(50px) translateX(-50%);
      opacity: 0;
    }
  
    100% {
      transform: translate(calc(-50% + 20px), -10px) scale(1.05);
      opacity: 1;
    }
  }
}
